@page "/categories/create"

@inject ICategoryService CategoryService

<div class="mb-3">
    <NavLink class="btn btn-primary" href="/categories/list">Back to list</NavLink>
</div>

<EditForm Model="Input" OnValidSubmit="SaveCategory" FormName="NewCategory">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="Name">Name</label>
        <InputText id="Name" class="form-control" @bind-Value="Input.Name" />
        <ValidationMessage For="@(() => Input.Name)" />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</EditForm>

<p class="text-success">@Message</p>

@code {
    [SupplyParameterFromForm]
    private InputModel Input { get; set; }
    private string Message { get; set; } = string.Empty;

    protected override void OnInitialized() => Input ??= new();

    private async void SaveCategory()
    {
        var category = new Category
            {
                Name = Input.Name
            };

        int id = await CategoryService.CategoryInsert(category);

        if (id != 0)
        {
            Message = "Category created successfully.";
        }
    }

    public class InputModel
    {
        [Required(ErrorMessage = "Title is required.")]
        public string Name { get; set; }
    }
}